@import '@/styles/_mixins.scss';

.card {
  width: 100%;
}

.cardTitle {
  @include text-preset-4;
  color: var(--color-neutral-100);
}

.cardContent {
  @include text-preset-5;
  color: var(--color-neutral-50);
}
