@use 'mixins' as styles;

.card {
  width: 100%;
  border-radius: var(--corner-radius-20, 20px);
}

.cardTitle {
  @include styles.text-preset-4;
  color: var(--color-neutral-100);
}

.cardContent {
  @include styles.text-preset-5;
  color: var(--color-neutral-50);
}
